<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jedeft.attendence.dao.ISignRecordDao" >

	<!-- 添加一条签到记录 -->
	<insert id="insertOne" parameterType="com.jedeft.attendence.data.SignRecord">
		INSERT INTO 
			sign_record(employee_id, sign_date, sign_time, create_time)
		VALUES
			(#{employee_id}, #{sign_date}, #{sign_time},#{create_time})
	</insert>
	
	<!-- 根据员工ID查找某个月每天打卡记录 -->
	<select id="searchData" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
			id, employee_id, sign_date, max(sign_time) max_time, min(sign_time) min_time, employee_name
		FROM
			sign_record_view
		WHERE
			sign_date >= #{startDate}
		AND
			#{endDate} >= sign_date
		AND
			employee_id = #{employee_id}
		GROUP BY sign_date
	</select>
</mapper>